<div class="container-fluid">
    <%= form_with(model: note) do |form| %>
      <% if note.errors.any? %>
        <div style="color: red">
          <ul>
            <% note.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= form.label :title, style: "display: block", class: 'mt-1 mb-1' %>
        <%= form.text_field :title %>
      </div>

      <div>
        <%= form.label :content, style: "display: block",class: "mt-1 mb-1" %>
        <%= form.text_area :content, style: "width: 50%; height: 20%" %>
      </div>

      <div>
        <%= form.hidden_field :user_id, value: current_user.id %>
      </div>

      <div>
        <%= form.submit class: 'btn btn-primary'%>
      </div>
    <% end %>
</div>
