<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%# <a class="navbar-brand" href="#">Notes App</a> %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%# <a class="nav-link active" aria-current="page" href="#">Home</a> %>
          <%= link_to 'Notes App', notes_path, class: 'nav-link ative fw-bold' %>
        </li>
      </ul>
      <form class="d-flex" role="search" method="get" action="<%= notes_path %>">
        <input class="form-control me-2" type="search" name="search" value="<%= params[:search] %>" placeholder="Search by title" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ms-auto">
        <!-- Authentication Links -->
        <% if user_signed_in? %>
          <%# <li class="nav-item">
            <a class="nav-link" href="#">Upload</a>
          </li> %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.email %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><%= link_to 'Profile', edit_user_registration_path, class: 'dropdown-item' %></li>
              <li><%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item', form: { class: 'd-inline' } %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
